.thumbnail img{
    width:100%;
}
.thumbnail{
    padding: 10px;
}
.thumbnail .caption-full {
    padding: 9px;
}
.card img {
    width: 100%;
}

.card .card-text {
    padding: 3px;
}

.delete-form {
    display: inline;
}
  .jumbotron {
    color: #2c3e50;
    text-align: center;
  }
  .jumbotron>p {
    font-family: Montserrat;
  }
  .jumbotron>h1 {
    font-family: Shrikhand;
    font-size: 3em;
  }
  .container {
    margin-top: 20px;
  }
  .container-camp>p {
    font-family: Quattrocento Sans;
  }
  .container-camp>h4 {
    font-family: Righteous;
  }
  .well {
    background-color: gainsboro;
    padding: 3%;
  }
  #logo {
    width: 32px;
    height: 27.9px;
  }
  .underline {
    text-decoration: underline;
  }
  .modify {
    margin-bottom: 20px;
    margin-left: auto;
  }
  .btn-sm {
    margin-right: 10px;
  }
  #map{
    width: 100%;
    height: 450px;
    margin-top: 2px;
  }